[2017-01-12 22:31] losolio opened #3 "Asp.net core support in the roadmap?"
Hi there,
Any plans for asp.net core support?

[2017-03-16 22:39] ahaghdan commented on #3
If you like to integrate your ASP.NET Core with Klarna we have a working solution.
Please check www.verilune.se for more info.

[2017-06-19 15:35] rafalwasniewski opened #5 "Examples doesn't work"
when i try to run examples on my MerchantId and SharedSecret it returns http error 401

[2017-11-07 09:48] olaeld commented on #5
I also had this experience

[2018-02-22 05:41] omelhus opened #6 "Developer branch for pull requests"
Please create a dev branch so that we can contribute to the library.

[2018-02-22 10:25] omelhus commented on #5
You'll need to create a test account and get API credentials from the CheckOut v3 site.

Check out https://developer.klarna.com/en/gb/kco-v3/test-credentials

[2018-08-29 14:36] marisks opened #8 "Merchant requested object is missing"
REST Api documentation describes Merchant Requested object:
https://developers.klarna.com/api/#checkout-api__order__merchant_requested

But it is not returned by the .NET Rest library.

Here is a related issue https://github.com/Geta/Klarna/issues/39

[2018-08-30 14:13] mbooh commented on #8
Pull request for this is created.
https://github.com/klarna/kco_rest_dotnet/pull/9

[2018-09-08 22:30] MirzaMerdovic opened #10 "Do "error_messages" always have one entry?"
Hi,

This is a question more about the actual [Klarna API](https://developers.klarna.com/api/#errors) where it states that when error occurs API will send an error message object that contains a property: "error_messages" that may contain one or several error messages.
I tried several invalid request when creating the Order but I always have a json array with only one entry.
Example:
[code]

Is th

[2018-09-19 20:41] alexions commented on #10
Hi @MirzaMerdovic !

Did you try to integrate Checkout API or Payment API? I'm asking because you can create Order via both of them.

Thanks.

[2018-09-20 18:40] MirzaMerdovic commented on #10
Hi @alexions,
Sorry, I should've specified the path. I was trying Checkout API (POST ~/checkout/v3/orders)

[2018-09-24 12:51] alexions commented on #10
Hi @MirzaMerdovic

The KCO follows the "error contract". https://developers.klarna.com/api/#errors
It means that it is possible to have several errors entries. At the same time one message can contain several errors split by comma.

Unfortunately I cannot give you a real example when you get 2 messages, but you need to keep it in mind, that it is a possible case when you get >= 2 error entries.

T

[2018-09-24 12:56] alexions commented on #10
Hi @MirzaMerdovic!

The KCO follows the "error contract": https://developers.klarna.com/api/#errors
It means that it is a possible situation when you get several error entries in the response.

The KCO sometimes combines errors using comma, but it's not a rule.

Unfortunately I cannot give you a real example how to get these errors, but you need to keep it in mind, that you still need to check all

[2018-09-24 19:55] MirzaMerdovic commented on #10
Hi @alexions
Thanks for clarifying this!

I'll took the liberty to close this one  since it answers my question.

[2018-09-24 19:56] #10 closed, assigned to nobody

[2018-12-21 12:31] mnording opened #15 "CustomerTokenDetails does not exponse card or bank details"
The object resulting in reading a customer token does not expose all data of the token from the api.
Api specs below: https://developers.klarna.com/api/#customer-token-api-read-customer-tokens-details

**Customer token model only exposes 2 properties**

        public string PaymentMethodType { get; set; }
        public string Status { get; set; }

**Expected:**
I must be able to read out card da

[2018-12-27 12:59] mnording opened #17 "CreateCapture must return CaptureId"
Considering a merchant needs captureID when adding shipping-details on a capture, the SDK must return said capture ID if the creation of the capture is successful

[2019-01-02 08:30] mnording commented on #3
This is now solved =)

[2019-01-10 14:21] alexions commented on #17
The fix will be available in 3.1.0 version

[2019-01-11 09:01] eriksallberg opened #18 "Allowed customer types error when updating order"
When I try to update an order I get an error to the allowed_customer_types field even though I never set a value so it's still null. The error is a normal exception and not a ApiException.

Unexpected character encountered while parsing value: [. Path 'options.allowed_customer_types', line 67, position 32.

If I set for example "[\"person\", \"organization\"]" av value I get the following ApiExcep

[2019-01-11 10:03] eriksallberg commented on #18
Tried with the example code for updating an order now and got the same error. Only change I made is running it async, so I use "await" instead of ".Result".

var updatedOrder = await client.Checkout.UpdateOrder(order);

[2019-01-21 15:37] thoemy opened #19 "GetPayoutsSummary uses wrong API endpoint"
Calling GetPayoutsSummary makes a request to `https://api.klarna.com/settlements/v1/payouts` instead of `https://api.klarna.com/settlements/v1/payouts/summary`.

Line 38 in SettlementStore: https://github.com/klarna/kco_rest_dotnet/blob/7ed3a561ed4cbf1ec39105fd91789d6cf92c5c5e/Klarna.Rest/Klarna.Rest.Core/Store/SettlementStore.cs#L38

should probably replaced by
[code]

[2019-01-22 17:02] johnknoop opened #20 "Vilket API för att skapa testorder?"
Hejsan

Jag sitter och automatiserar ett av våra systemtest, där vi vill kontrollera att vårt system kan uppdatera ordervärde hos Klarna. Då vill vi helst att själva integrationen också testas, så att om nånting ändras på er sida så märker vi det.

För att ändra ordervärde och göra en capture så använder vi Order Management API. Men frågan är vilket API som är smidigast för att kunna skapa upp en

[2019-01-23 09:41] HadrosR opened #21 "OrderLine says value 0 is null"
Getting a error when doing a Post checkout/v3/orders,

that one of my orderLines that has the value 0 on tax_rate and total_tax_amount
`Bad value: order_lines[3].tax_rate (may not be null), order_lines[3].total_tax_amount (may not be null)`

It did work fine to send 0 as tax_rate and total_tax_amount when sending with a request with all data as json.

Is this intended?

[2019-01-28 10:30] martingust commented on #21
I'm experiencing the same issue.

**Message:** Error when calling POST https://api.playground.klarna.com/checkout/v3/orders.
**ErrorCode:** BAD_VALUE
**ErrorMessages:** "Bad value: order_lines[2].total_tax_amount (may not be null), order_lines[2].total_amount (may not be null), order_lines[1].total_tax_amount (may not be null), order_lines[2].unit_price (may not be null), order_lines[2].tax_rate (

[2019-01-28 11:27] martingust commented on #21
The problem seemed to be with the Json Serializer Settings. I've created a pull request that fixes the issue.

[2019-01-30 15:45] johnknoop opened #24 "Example request invalid: total_tax_value"
Hi

I'm using your example request for creating an order, but I get a validation error regarding the total tax amount:

![image](https://user-images.githubusercontent.com/3394270/51993044-6346bb00-24ae-11e9-982e-b3dc23639a95.png)

Any idea what might be wrong?

[2019-01-30 15:46] #20 closed, assigned to nobody

[2019-01-31 11:09] alexions commented on #24
Hello @johnknoop

I suppose it's an API example issue.

**So, by logic it should be:**
The item tax is 10% for 5 items with price 10000 each.

[code]

**But in reality:**
The tax is included into the price and the formula should be like this:
`total_amount - total_amount * 10000 / (10000 + tax_rate)`
**10000** is just for precision

So change the item tax to **4545** and the order tax to **4545**

[2019-01-31 11:11] alexions commented on #24
I already created a ticket for Klarna Checkout team to fix these examples.

[2019-01-31 12:54] alexions commented on #24
@johnknoop can you confirm that this "fix" works for you?

[2019-01-31 14:47] johnknoop commented on #24
Thanks a bunch @alexions , that helped! And I got to know Klarnas rules for tax calculations as well :)

[2019-01-31 14:47] #24 closed, assigned to alexions

[2019-02-01 13:09] alexions commented on #15
Merged the fix

[2019-02-05 12:18] DeniseDornell opened #26 "HostedPaymentPageCreateSessionResponse"
HostedPaymentPageCreateSessionResponse model is missing session_id, session_url, gr_code_url

[2019-02-05 12:33] DeniseDornell opened #27 "Cannot send a content-body with this verb-type."
Client.Checkout.GetOrder(orderId).Result and Client.OrderManagement.GetOrder(orderId).Result  is just awaiting without any result

It works if I create a own request with HttpClient

[2019-02-07 10:52] martingust commented on #21
A workaround to this is to create the Klarna Client with a custom JSON serializer as shown here https://github.com/klarna/kco_rest_dotnet/blob/v3.0/Klarna.Rest/Klarna.Rest.Core.Examples/CustomJsonSerializer.cs.

And in the custom serializer set:  `DefaultValueHandling = DefaultValueHandling.Include`

[2019-02-07 10:58] martingust commented on #27
@DeniseDornell Do you get any errors?

You can try inspect to see the request and response JSON? You can implement a custom JSON serializer in order to do that https://github.com/klarna/kco_rest_dotnet/blob/v3.0/Klarna.Rest/Klarna.Rest.Core.Examples/CustomJsonSerializer.cs

Also what happens if you use `async/await` instead of `.Result`? Do you get any better error?

[2019-02-26 15:09] alexions commented on #18
https://github.com/klarna/kco_rest_dotnet/pull/28

[2019-02-26 15:09] #18 closed, assigned to alexions

[2019-02-26 16:15] #21 closed, assigned to alexions

[2019-02-26 16:15] alexions commented on #21
I merged change you offered. It's quite dangerous change, so it will go to a new 3.1.x version soon.

Thank you for contributing.

[2019-02-27 09:10] alexions commented on #5
Thanks @omelhus.
Yes, in order to use the SDK you need to have your own test credentials.
We changed the page, so please follow: https://developers.klarna.com/documentation/test-credentials

[2019-02-27 09:10] #5 closed, assigned to nobody

[2019-02-27 13:21] #3 closed, assigned to nobody

[2019-02-28 15:04] ZodiacGemini commented on #21
When can we expect this to be implemented AKA v. 3.1 released?

[2019-03-05 13:55] alexions commented on #8
Thank you for the PR! But i found this field: https://github.com/klarna/kco_rest_dotnet/blob/v3.0/Klarna.Rest/Klarna.Rest.Core/Model/CheckoutOrder.cs#L162

Unfortunately, the JsonProperty has a typo in the name. I will fix this typo in the next minor release.

[2019-03-05 13:59] alexions commented on #8
https://github.com/klarna/kco_rest_dotnet/commit/0ce6ad56dacf392e9522306379e1c1d1b3c0ffb4

[2019-03-05 14:02] alexions commented on #19
https://github.com/klarna/kco_rest_dotnet/commit/ac9096cc2fa31501d9e3614427e4e1039b96dc53

Fixed.

[2019-03-05 14:03] alexions commented on #19
The change will be available in the next release.

[2019-03-05 14:16] alexions commented on #26
https://github.com/klarna/kco_rest_dotnet/pull/30/

[2019-03-05 14:16] alexions commented on #26
Thanks @DeniseDornell for the report. We fixed this and the change will be available in the next release.

[2019-03-05 14:16] #26 closed, assigned to freethan

[2019-03-06 16:07] alexions opened #33 "Checkout API: Missing Shipping Attributes for OrderLines Model"
**Describe the bug**
The OrderLines Model does not have a shipping_attributes property.

**Which service do you use**
Klarna Checkout

**To Reproduce**
Check the Official Klarna API documentation: https://developers.klarna.com/api/#checkout-api__create-a-new-order__order_lines__shipping_attributes

[2019-03-06 17:10] alexions commented on #19
v3.1.0 released!

[2019-03-06 17:10] #19 closed, assigned to alexions

[2019-03-06 17:10] alexions commented on #15
Available in v3.1.0

[2019-03-06 17:10] #15 closed, assigned to alexions

[2019-03-06 17:10] alexions commented on #8
Available in v3.1.0

[2019-03-06 17:10] #8 closed, assigned to alexions

[2019-03-08 10:27] ErikGranly commented on #27
Getting the following error using both these methods(Client.Checkout.GetOrder(orderId).Result and Client.OrderManagement.GetOrder(orderId).Result )

Details:
Cannot send a content-body with this verb-type.
Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more information about the error and where it originated in the co

[2019-03-13 15:50] alexions commented on #27
https://github.com/klarna/kco_rest_dotnet/pull/35

[2019-03-13 15:53] alexions commented on #27
Thanks to the **Guillermo**

With his help we found an issue (I suppose for the older versions of .NET Core) when sending the GET requests.

HTTP 1.1. Specification says, that GET request should not have a body (but it can have), but the reality, you will get a verb-type exception when sending the GET with a body inside.

So the fix allows to set null when no body data instead of string.Empty

[2019-03-13 17:38] freethan commented on #27
Resolved by #35 , please get in touch if the issue persists

[2019-03-13 17:39] #27 closed, assigned to alexions

[2019-03-14 20:29] #33 closed, assigned to freethan

[2019-03-18 10:21] adamfinstorp opened #36 "RefundId is not returned from CreateRefund"
The id of the refund is not returned from the CreateRefund method (OrderManagementStore). It's available in the Refund-Id response header (POST /ordermanagement/v1/orders/{order_id}/refunds).

[2019-03-18 10:57] freethan commented on #36
Good catch Adam, thanks for letting us know, a fix will land with the next release :)

[2019-03-18 11:37] adamfinstorp commented on #36
Sounds great :)

[2019-03-19 07:55] adamfinstorp commented on #17
This isn't fixed yet as far as I can tell (using 3.1.0). CreateCapture returns null since the response body from `POST /ordermanagement/v1/orders/{order_id}/captures` is empty. CaptureId should be extracted from the response header `Capture-Id`.

[2019-03-19 10:27] freethan commented on #17
Indeed, re-opening and linking with #36. Thanks @adamfinstorp !

[2019-03-19 13:01] adamfinstorp opened #37 "merchant_data misspelled in OrderManagementOrder class"
The `MerchantData` property in `OrderManagementOrder` is decorated with a misspelled PropertyName in the JsonProperty attribute, therefore this string always deserializes to null.

[2019-03-25 23:44] magnuskarlssonhm opened #39 "Unsupported browser when making backend call to order"
Hi,

I get the following response when trying the example code and going through step 3 at the documentation guide https://developers.klarna.com/documentation/klarna-checkout/integration-guide/render-the-checkout

Do you have a working sample one can try with javascript and backend calls? Just want to change username and password and run the sample :)

"Oops.
It seems you might be using an older w

[2019-03-29 11:04] #37 closed, assigned to freethan

[2019-03-29 13:58] alexions commented on #36
Fixed in the new release 3.1.2.

[2019-03-29 13:58] #36 closed, assigned to freethan

[2019-03-29 13:59] alexions commented on #17
Fixed in the new release 3.1.2.

[2019-03-29 13:59] #17 closed, assigned to alexions

[2019-04-03 18:26] AXS-RickardPettersson opened #43 "CreateOrder dont working"
**Describe the bug**
I have a ASP.NET MVC 4 project i trying to integrate Klarna Checkout in using the latest nuget package.

To try something i used the example of createing a checkout order that exist in the github respository and when its doing the first call with the code row:

` client.Checkout.CreateOrder(order).Result; `

Its stuck there, nothing happening its loading and loading, no timeou

[2019-04-26 23:55] generalengels commented on #43
I have same problem. There is no any response from Klarna.
klarna.Payment.CreateCreditSession(paymentSession) not working.

[2019-05-09 16:25] ctorx opened #44 "HTTP 401 in KlarnaEnvironment.TestingNorthAmerica results in HTML response that cannot be deserialized to ErrorMessage resulting in ambiguous error message"
**Describe the bug**
When attempting to create a payment credit session using `Klarna.Payment.CreateCreditSession` for Environment `TestingNorthAmerica`, an unauthorized attempt (HTTP 401) results in a response containing HTML that is attempted to be deserialized to type ErrorMessage, resulting in a deserialization error that is ambiguous to the caller and gives no indication that the failure is r

[2019-05-21 09:10] adamfinstorp opened #45 "Update the status of a customer token"
I would like to be able to set the status of a customer token to "CANCELLED". Documentation can be found here: https://developers.klarna.com/api/#customer-token-api-update-the-status-of-a-customer-token

[2019-05-27 06:27] DUAB-Johan commented on #43
Metoden är async vad jag kan se. Prova nedan

                Task<CheckoutOrder> callTask = Task.Run(() => klarna.Checkout.CreateOrder(order));
                // Wait finish
                callTask.Wait();
                // Get result
                var createdOrder = callTask.Result;

[2019-05-27 15:42] alexions commented on #45
https://github.com/klarna/kco_rest_dotnet/pull/47

[2019-05-29 10:54] alexions commented on #44
Hi @ctorx

Thanks for reporting the issue. Unfortunately, there is no chance to make a proper reply with a proper error message (like Unauthorized) for all the Klarna services, so we can consider this way as "unfixable".

But I totally agree with you, that there is no reason to return Json parse exception. So I created a fix for the issue:
https://github.com/klarna/kco_rest_dotnet/pull/48

The pro

[2019-05-29 18:43] ctorx commented on #44
Thanks!

On Wed, May 29, 2019 at 3:54 AM Alexander Zinovyev <notifications@github.com>
wrote:

[2019-06-03 07:32] alexions commented on #45
Fixed in [v3.1.3](https://github.com/klarna/kco_rest_dotnet/releases/tag/v3.1.3)

[2019-06-03 07:33] alexions commented on #44
Fixed in [v3.1.3](https://github.com/klarna/kco_rest_dotnet/releases/tag/v3.1.3)

[2019-06-03 07:33] #44 closed, assigned to alexions

[2019-06-03 07:33] #45 closed, assigned to alexions

[2019-06-03 09:28] alexions commented on #39
HI @magnuskarlssonhm

Unfortunately, we have no ready-to-use web app. The .NET world has huge amount of different systems/templates/etc. The SDK can be embedded into any of them.

If we talk about the [ASP.NET Core Web API](https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-2.2) you should do something like this:
https://docs.microsoft.com/en-us/aspnet/core/web-api/advanced/form

[2019-06-03 09:39] alexions commented on #39
<img width="1407" alt="kco" src="https://user-images.githubusercontent.com/954028/58792416-671d5200-85f4-11e9-8c75-b10f9ed694e0.png">

[2019-06-11 09:35] alexions commented on #39
Hi @magnuskarlssonhm

Do you have any result? Does the provided code work for you?

[2019-06-11 09:40] magnuskarlssonhm commented on #39
Hi @alexions, I needed to move on with this so we are currently evaluating an other product. Thanks anyway.

[2019-06-12 14:12] NiclasOhlsson commented on #43
Also having the same issue. Running the test code in a console application works fine but running that same code in a clean ASP.NET WebForms application freezes the application. The solution suggested by @DUAB-Johan does not solve the issue.

Generally it appears to be discouraged to run asynchronous methods in a synchronous way as done in the Klarna library (see for example: https://devblogs.micr

[2019-06-12 17:26] NiclasOhlsson commented on #43
Considering this code works (main method console application):

[code]

…while this code doesn't (page load method, asp.net WebForms aspx page):

[code]

[2019-06-25 13:49] alexions commented on #43
Thanks @DUAB-Johan for the solution.

Actually due to the Web Forms limitations you cannot use Task.Result in the Main thread
There is the nice article about this limitation: https://blogs.msdn.microsoft.com/jpsanders/2017/08/28/asp-net-do-not-use-task-result-in-main-context/

To make the things easier we created a nice example using WebForms to demonstrate how you can use the SDK together with th

[2019-06-25 13:49] #43 closed, assigned to nobody

[2019-06-25 14:20] freethan opened #52 "Add a security.md file to repo, highlighting existing vulnerabilities"
**Is your feature request related to a problem? Please describe.**
Currently Snyk is used to scan the repo for vulnerabilities. If these are not resolved, then we should inform the community of their existence and the reasons behind not mitigating them.

**Describe the solution you'd like**
A `security.md` file describing the current vulnerabilities and the expected mitigation or reasons for lack

[2019-06-26 13:36] igeligel commented on #52
Instead of this could we just use https://dependabot.com/?

This tool would even create automatic PRs if there are dependency upgrades. You can see it in action here: https://github.com/gothinkster/vue-realworld-example-app/pulls?q=is%3Apr+is%3Aclosed+label%3Adependencies

[2019-06-26 14:10] freethan commented on #52
Hi @igeligel , the repo as well as the whole org has been setup to be scanned by Snyk, hence the warnings we get about the code and its dependencies when we log into the Snyk console.

In some cases, it's just a lo-fi way of acknowledging / clarifying why we, at the moment, have vulnerabilities and why we choose not to address them. For example, this repo has HTTP vulnerabilities introduced by the

[2019-06-27 15:15] kwestground opened #53 "klarna_reference missing from CheckoutOrder"
CheckoutOrder does not map "klarna_response"

https://github.com/klarna/kco_rest_dotnet/blob/v3.x/Klarna.Rest/Klarna.Rest.Core/Model/CheckoutOrder.cs

https://developers.klarna.com/api/#order-management-api-get-order

[2019-06-29 15:22] igeligel commented on #52
I think so too.

To not address them sounds really wrong in my opinion. I mean the basic reason is that clients do not want to upgrade their .NET version. I know this cost time and money but can we really live with delivering security vulnerabilities? If people want to have the newest features, they should also be able to upgrade their framework. If they want to stay on an old version they are fre

[2019-07-01 08:47] freethan commented on #52
Thank you for the feedback.
Allow me to firmly state the following:

No, that does not mean that we enforce a blanket rule for not addressing vulnerabilities. In our case the vulnerability exists in the testing framework and not on the actual library we offer. I think that allows us for some room to maneuver as we chart the next steps. Having a file indicating this vulnerability and why it's not a

[2019-07-01 10:58] igeligel commented on #52
Why should we create noise if it is not important for our customer?

We should really think about this because the security vulnerability does not affect the artifact which is the product for the customers in the end.

The normal workflow of someone wanting to integrate Klarna into their current .NET systems would be to google `klarna .net or searching on [nuget directly](https://www.nuget.org/pac

[2019-07-02 13:51] agnerbo opened #54 "Async/Await issue"
**Describe the bug**
When using GetOrder the task never retruns. It can be fixed by adding .ConfigureAwait(false) when using async.

Async/Await - Best Practices in Asynchronous Programming
https://msdn.microsoft.com/en-us/magazine/jj991977.aspx

**Which service do you use**
Every call to klarna

**To Reproduce**
var klarnaEnv = isTest ? KlarnaEnvironment.TestingEurope : KlarnaEnvironment.LiveEuro

[2019-07-02 19:41] igeligel commented on #54
I think you did run into a deadlock situation. You can read more about it here: https://blog.stephencleary.com/2012/07/dont-block-on-async-code.html

Since you are working currently with this version of the Klarna SDK you should pass down the async context of your application the whole way down as mentioned in the article:

The other option is:

which is on us. So we would need to create a new rel

[2019-08-01 15:34] alexions commented on #39
I will close the issue for now.

BTW: Now we have 2 fully working examples for the WebApp and WebForms: https://github.com/klarna/kco_rest_dotnet/tree/v3.x/Klarna.Rest/SampleProjects

[2019-08-01 15:34] #39 closed, assigned to alexions

[2019-08-05 09:41] alexions commented on #54
The fix is coming: https://github.com/klarna/kco_rest_dotnet/pull/55

[2019-08-05 12:48] okebai opened #56 "Typo in endpoint for "Release remaining authorization""
**Describe the bug**
Therese a typo in the endpoint for `Klarna.Rest.Core.Klarna.OrderManagement.ReleaseRemainingAuthorization`, causing it to always return HTTP 404. Theres an underscore where there should be a dash.
https://github.com/klarna/kco_rest_dotnet/blob/32021ce2a6287a55cfd4843f0ebe6055a0f40525/Klarna.Rest/Klarna.Rest.Core/Store/OrderManagementStore.cs#L28

**Which service do you use**
O

[2019-08-06 09:44] alexions commented on #54
@igeligel added as a reviewer

[2019-08-08 09:39] alexions opened #57 "The wrong type for "refunds" is used in the "OrderManagementOrder" class"
we are using the .NET library and we found a bug:
In the class "OrderManagementOrder" the wrong type for "refunds" is used.

It should be like that:

[code]

[2019-08-08 13:21] alexions commented on #57
The PR is in the code-review, feel free to comment.

The initial issue:
For some reason we have 2 similar Refund models: OrderManagementRefund and OrderManagementGetRefundResponse. By fact - these two models are the same (based on the original documentation).

Ideal fix: Actualize one of the model and use it everywhere.
Real fix: In order to keep the backward compatibility I kept both of the model

[2019-08-08 13:32] alexions commented on #56
The PR is ready to merge. Feel free to check it out and leave a comment.

[2019-08-08 13:33] alexions commented on #54
Merged. The changes will appear in the next release.

[2019-08-08 14:00] Marc19801 commented on #57
Tank you for the very fast fix!!!

[2019-08-08 14:28] #57 closed, assigned to alexions

[2019-08-08 14:28] #56 closed, assigned to alexions

[2019-08-08 15:06] alexions commented on #53
Hi @kwestground

Thanks for the feedback.

You are right, the CheckoutOrder has no such field and actually it should not by two reasons:
1) The Klarna Checkout service differs from the Klarna Order Management service. You can consider them as two separated services, so they can have a different Order models
2) The most important part is, the field itself:

`klarna_reference A Klarna generated refe

[2019-08-08 15:53] #53 closed, assigned to nobody

[2019-08-09 10:28] alexions commented on #54
Fixed in https://www.nuget.org/packages/Klarna.Rest.Core/3.1.4

[2019-08-09 10:28] #54 closed, assigned to nobody

[2019-08-09 10:29] alexions commented on #57
Fixed in https://www.nuget.org/packages/Klarna.Rest.Core/3.1.4

[2019-08-09 10:29] alexions commented on #56
Fixed in https://www.nuget.org/packages/Klarna.Rest.Core/3.1.4

[2019-08-09 10:29] alexions commented on #53
Fixed in https://www.nuget.org/packages/Klarna.Rest.Core/3.1.4

[2019-08-20 14:08] BarrelMakerITSystems opened #63 "Issue installing the Klarna nuget package"
When I try to install the NuGet package, it fails, here is the command I use to attempt the install:
                Install-Package Klarna.Rest.Core -Version 3.1.4

Here is the output from the install command:

Attempting to gather dependency information for package 'Klarna.Rest.Core.3.1.4' with respect to project 'clogau.co.uk', targeting '.NETFramework,Version=v4.6'
Gathering dependency informa

[2019-08-20 15:09] igeligel commented on #63
Hey @BarrelMakerITSystems

It seems that the .NET version of your project needs to be updated to at least 4.6.1. We publish this package here as .NET Standard 2.0 package which means that .NET Framework versions 4.6.1 and newer are supported even though 4.7.2 is recommended.

Source: https://docs.microsoft.com/en-us/dotnet/standard/net-standard

I recommend upgrading your local version to .NET 4.7

[2019-08-21 12:31] ckoenig95 opened #64 "Typo in SettlementsGetAllPayoutsResponse.cs "Paginatinon""
Inside the class [SettlementsGetAllPayoutsResponse](https://github.com/klarna/kco_rest_dotnet/blob/382ee63701c7628e00afd32e0dc5a03a3b45cc74/Klarna.Rest/Klarna.Rest.Core/Model/SettlementsGetAllPayoutsResponse.cs) the property holding the pagination information is called Paginati**n**on.

It should probably be called Pagination without the additional **n**.

[2019-09-03 14:38] #63 closed, assigned to nobody

[2019-09-05 09:28] alexions commented on #64
https://github.com/klarna/kco_rest_dotnet/pull/65

[2019-09-06 21:53] Taturevich opened #66 "Allow usage of WebProxy in HttpClient"
We want to utilize Klarna.Rest.Core package in order to make integration with Klarna api. One of our customer requirements is to proxy all network calls to external domains through proxy. Current implementation of rest client hides HttpHandler deeply inside library, thus complicating this particular scenario. .NET Core also does not support global proxy for all out coming calls.

Ideally we are wa

[2019-10-04 08:07] DennisCG commented on #39
If it's OK to answer a closed issue, this worked for me.  In case it helps someone else. Fetch did not want to work for me.

[code]
And in the controller. I put the code for CreateExample in a separate class and it returns the HTML snippet.
[code]

[2019-10-10 15:22] alexions opened #70 "Typo in Klarna.Rest/Klarna.Rest.Core/Commuication namespace"
**Describe the bug**
Typo in "Communication" namespace.

**Which service do you use**
All

**To Reproduce**
Check the namespace for Klarna.Rest/Klarna.Rest.Core/Commuication

**Expected behavior**
Namespace Klarna.Rest/Klarna.Rest.Core/Commuication must be renamed to  Klarna.Rest/Klarna.Rest.Core/Communication

[2019-10-10 15:22] alexions commented on #70
https://github.com/klarna/kco_rest_dotnet/pull/69

[2019-10-11 12:38] alexions commented on #70
Merged. Will be available in next releases after 3.1.4

[2019-10-11 12:38] #70 closed, assigned to alexions

[2019-10-11 12:43] alexions commented on #64
Merged. Will be available in the next release (after 3.1.4)

[2019-10-11 12:43] #64 closed, assigned to alexions

[2019-10-14 11:33] alexions commented on #66
https://github.com/klarna/kco_rest_dotnet/pull/71

[2019-10-14 11:37] alexions commented on #66
Thanks for the PR! I partially used your proposed changes in the PR #71 .

Due to the huge change about fixing the typo in the major namespace Communication (was Commuication before the fix) your PR now has conflicts. In order to increase the changes delivery time I will close your PR and merge #71 . This will allow us to release the new SDK version today (14th Oct) or tomorrow.

Check the release

[2019-10-14 11:42] alexions commented on #6
Hi @omelhus

Sorry for such a long time to reply to you. Feel free to use the major branch (at the moment v3.x) to do any PRs.

The golden rule is - keep the backward compatibility. If by some reasons your changes break it or you proposed a new SDK concept with the new architecture, still - create a PR to the major branch and then we will discuss how to address it (create a new branch, create a se

[2019-10-14 11:42] #6 closed, assigned to nobody

[2019-10-14 11:50] #66 closed, assigned to nobody

[2019-11-01 13:46] alexions opened #72 "HostedPaymentPage: DistributeLinkToSession does not send body payout"
**Describe the bug**

HPP DistributeLinkToSession does not work as expected. When using this method the API call actually does not have a body payout

**Which service do you use**
Hosted Payment Page

**To Reproduce**
Run HostetPaymentPage.DistributeLinkToSession() method.

**Expected behavior**
API call should return successful result

**Actual result**
API error because of missing body.

[2019-11-01 13:47] amirrsyd opened #73 "HostedPaymentPageSessionStatus model is not aligned with API"
GET HPP Session does not work because model in the SDK does not match API response
SDK:
https://github.com/klarna/kco_rest_dotnet/blob/v3.x/Klarna.Rest/Klarna.Rest.Core/Model/HostedPaymentPageSessionStatus.cs
API:
https://developers.klarna.com/api/#hosted-payment-page-api-get-hpp-session

[2019-11-01 15:10] #73 closed, assigned to nobody

[2019-11-01 15:27] #72 closed, assigned to alexions

[2019-11-04 15:06] mnording opened #77 "Missing Payment Method categories property in HostedPaymentPageOptions"
It is not possible to define the payment method categories as an array when defining the options

https://developers.klarna.com/api/#hosted-payment-page-api__create-a-new-hpp-session__options

[2019-11-05 13:15] mnording opened #78 "GetSessionStatus points to the wrong url"
making a call to client.HostedPaymentPage.GetSessionStatus(session.SessionId);
makes a GET call to
GET https://api.playground.klarna.com/hpp/v1/sessions/c79abbf5-f1a8-74f8-8b3a-12943e904e70/status.

Expected behaviour is
GET https://api.playground.klarna.com/hpp/v1/sessions/c79abbf5-f1a8-74f8-8b3a-12943e904e70

[2019-11-05 15:24] alexions commented on #77
Fixed in this PR: https://github.com/klarna/kco_rest_dotnet/pull/79

Actually - this is not just a fix by adding a missing field. We started a migration to auto-generated models. So in order to use Payment Method categories you need to start using new models.

We have Obsolete annotation that points to the new model name with all the new fields.

[2019-11-05 15:24] #77 closed, assigned to nobody

[2019-11-05 15:25] #78 closed, assigned to nobody

[2019-11-14 15:21] alexions opened #81 "Hosted Payment Pages: Add support of Session disabling"
Add support of https://developers.klarna.com/api/#hosted-payment-page-api-disable-hpp-session

[2019-11-14 15:28] #81 closed, assigned to alexions

[2019-11-14 15:28] alexions commented on #81
Available in v3.1.9

[2019-11-27 16:38] Taturevich opened #83 "Promo codes (custom payment methods) contract issue"
During integration with Klarna we found possible bug related to promo codes functionality.
There is a contract in `PaymentOrder` class:
[code]
After conversation with support team we was told that instead of
_"customer_payment_method_ids"_ we should use _"custom_payment_method_ids"_ while sending create session call. Requests from postman with _"custom_payment_method_ids"_ result in success and pa

[2019-11-28 10:51] alexions commented on #83
Hello @Taturevich

Thanks for creating a PR. I can confirm that there are some issues with models, like missing fields or typos in the JSON representation. That's why we decided to migrate to auto-generated models.

In the PR #85 I created all the new models that support all the latest features and fields and have no such issue with typos. These models are not manually written, but auto-generated.

[2019-12-09 14:38] #83 closed, assigned to nobody

[2019-12-09 15:13] #52 closed, assigned to nobody

[2019-12-10 10:40] JustinAren opened #92 "Discrepancy between SDK models and API models"
Hi team,

There seems to be a discrepancy between the SDK models and the API models. I found several models in the SDK where some fields are not available which are available in the API.

For example:
- https://developers.klarna.com/api/#payments-api__session__authorization_token: In the GET /payments/v1/sessions/{session_id} response an authentication_token field is present, but in the PaymentCre

[2019-12-10 10:55] alexions commented on #92
Hi @JustinAren

Thanks for pointing this out. Yes, we know about this issue and currently we are working on migrating to the auto-generated models architecture. Such models will simplify a process of adding new fields and updating the models.

We already migrated the [Klarna Payment](https://github.com/klarna/kco_rest_dotnet/tree/v3.x/Klarna.Rest/Klarna.Rest.Core/Model/Payments) and [Order managem

[2019-12-10 13:51] alexions commented on #92
All the changes are available in the latest v3.1.10 release:
https://www.nuget.org/packages/Klarna.Rest.Core/3.1.10

The SDK Ref can be found here: https://klarna.github.io/kco_rest_dotnet/v3.1.10/api/index.html

[2019-12-10 13:51] #92 closed, assigned to nobody

[2019-12-18 17:25] glenn2223 opened #95 "Can Not Install On .NET Framework 4.8"
### Bug report

**Describe the bug**
I get the following error in my Package Manager Console after trying to install the package.
[code]

**Which service do you use**
Can't even download it

**To Reproduce**
Steps to reproduce the behavior:
1) Open my "Package Manager Console"
1) Type `Install-Package Klarna.Rest.Core -Version 3.1.10`

**Expected behavior**
For the package to be installed

**Addit

[2019-12-19 10:34] glenn2223 commented on #95
### Resolved

I'm using Visual Studio 2015 so I had to install to the latest version of NuGet for Visual Studio 2015 seen on the far-right [here](https://www.nuget.org/downloads), currently and foreseeably 3.6.0.

[2019-12-19 10:34] #95 closed, assigned to nobody

[2019-12-22 17:46] LucGosso opened #96 "Klarna examples using deprecated code"
Could you please update the examples to use Order from Checkout namespace
client.Checkout.CreateOrder is deprecated. What to use? =)

Where do I find the newer API? in version 3.1.10

Where can i find a changelog?

Im trying to go from 3.1.2 to 3.1.10

thx

[2019-12-22 19:33] LucGosso commented on #96
New model Klarna.Rest.Core.Model.Checkout.Order is using CheckoutMerchantUrls which is Deprecated. But MerchantUrls is not used. Very confusing... Is there no conversion?

        [JsonProperty(PropertyName = "merchant_urls")]
        public CheckoutMerchantUrls MerchantUrls { get; set; }

[2019-12-22 19:41] LucGosso commented on #96
Trying to use the captureobject, why does Klarna.Rest.Core.Model.OrderManagement.Order OrderLines not using same orderline object as CaptureObject.OrderLines ? #confused

Does it exists any conversions?

        public async Task Capture(Klarna.Rest.Core.Model.OrderManagement.Order order)
        {
            await Klarna.OrderManagement.CreateCapture(order.OrderId, new CaptureObject()

[2019-12-23 09:59] freethan commented on #96
Hi there @LucGosso and thank you for raising these issues. In our effort to maintain backwards compatibility with older models we've inadvertently caused some trouble.

There is an ongoing effort to fix this here https://github.com/klarna/kco_rest_dotnet/pull/94.
We hope to get the examples updated in the same go. However due to limited availability, we cannot guarantee a delivery date.

A changel

[2019-12-23 10:25] LucGosso commented on #96
thx, seems to me we should go to version 3.1.9 meanwhile. is that a good option @freethan ?

IMHO dont be afraid of bumping a version and introduce breaking changes. looks messy when new api extends old.

[2019-12-23 10:35] freethan commented on #96
Hi again @LucGosso . Yes indeed, I would propose to stay clear from 3.1.10 for now if this is causing troubles for you and wait for a bug fix release, or even better a breaking change version coming out later.

Thanks for the good feedback, we appreciate it 👍

[2020-01-08 10:16] kthor-nue opened #97 "PaymentAPI problems with response results"
Hi Team,

We want to use the PaymentAPI to make Pay Later available within our Web Shop (direct integration by REST Api).

Therefore I used the MVC WebApp example as a blueprint.
I create a PaymentCreditSession object do the call to the API

(HomeController.cs lines 143/144):

`var response = client.Payment.CreateCreditSession(paymentSession);`
`var creditSession = response.Result;`

The first lin

[2020-01-21 11:03] AlexACD21 commented on #97
This is because of a bug in the SDK that causes deadlock (ConfigureAwait isn't called all the way down to await HttpClient.SendAsync(httpMessage) in BaseRestClient.MakeRequest, which captures your asp.net mvc synchronization context)

You can workaround it by offloading wait for task completion to the thread pool:
var creditSession = Task.Run(() => client.Payment.CreateCreditSession(paymentSession

[2020-01-21 11:59] kthor-nue commented on #97
Hi Alex!

This seems to solve the problem!

Thanks a million!

[2020-01-21 11:59] #97 closed, assigned to nobody

[2020-02-11 09:19] freethan commented on #96
Closing this issue. The plan is to release a `v3.1.12` as the final 3.x release without any attempts to maintain compatibility.

[2020-02-11 09:19] #96 closed, assigned to nobody

[2020-02-11 09:30] LucGosso commented on #96
Good decision, if it is breaking, it should be v4. https://semver.org/

[2020-04-06 06:40] Juriskondrats opened #101 "Code hangs on payment execution."
Hi!
Tried Klarna checkout web app example. The problem is that when this line is executed ->

var createdOrder = client.Checkout.CreateOrder(order).Result;

it hangs on. It is waiting for response unlimited amount of time but never receives it. Checked test account logs this request is with 201 status. the response body message shows an error.

{
  "order_id": "34368eb5-7346-659d-b519-6951c0a02cb6

[2020-04-06 07:56] Juriskondrats commented on #101
Ok sorry, seems like I found an asnwer in this issue -> https://github.com/klarna/kco_rest_dotnet/issues/97 Closing ticket.

[2020-04-06 07:56] #101 closed, assigned to nobody

[2020-04-08 07:24] viktor-vintertass opened #102 "Handle card payment"
Hi, I'm developing a mobile application and we have our own widget.
I have been given a test account to Klarna and want to validate our implementation.

However, we can't find the way on how we can use our own widget and send you creditcard information. The idea is that we have our mobile application running on Flutter, with a backend using .NET Core.

I have tried contact developers@klarna.com du

[2020-04-19 19:18] viktor-vintertass commented on #102
Solved the issue using:
**Backend:** https://github.com/klarna/kco_rest_dotnet/tree/v3.x/Klarna.Rest/SampleProjects/Sample
**Frontend:** https://www.youtube.com/watch?v=RA-vLF_vnng

From backend, I'm returning following to my WebView:
`    var result = await _klarna.Checkout.CreateOrder(checkOutOrder);
return result.HtmlSnippet;`

[2020-04-19 19:18] #102 closed, assigned to nobody

[2020-05-29 13:28] ToxicTree opened #106 "shipping_method "" cannot be serialized into Enum OrderManagementShippingMethod"
**Describe the bug**
We do not have a shipping_method defined on some orders/captures, making it impossible to get orders using OrderManagement.GetOrder(orderId)

**Which service do you use**
Order management

**To Reproduce**
Steps to reproduce the behavior:
Try to get orders that do not have any shipping...

**Expected behavior**
Get a order without shipping information (we do not care about thi